<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1 style="color: #501B1D; text-align:center">Log in:</h1>
<div style="color: #83677B; text-align:center">
<%= form_for(@user, url: '/login') do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In" %>
<% end %>
</div>
</div>
<style>
body {
  background: url('https://24slides.com:8081/presentbetter/content/images/wordpress/2018/12/company-profile-presentation-tips.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container { 
background-color: rgba(100%, 100%, 100%, .2);
border: 2px #83677B;
border-radius: 100px; 
}
</style>