<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" style= "text-align:center">
<h1 style="color: #2E1114; text-align:center">Edit Company</h1>

    <% if @company.errors.any? %>
    <div style="list-style-type:none; color: #2E1114; text-align:center" id="error explanation">
        <h2 style="list-style-type:none; color: #2E1114; text-align:center"><%= pluralize(@company.errors.count, "error") %> prevented this Company from being saved: </h2>
        <ul style="list-style-type:none; color: #2E1114; text-align:center">
        <% @company.errors.full_messages.each do |error| %>
        <li> <%= error %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <%= form_for @company do |f| %>
        <%= render partial: "form", locals: {partial_form: f }%>
    <%= f.submit "Update your company" %>
    <% end %>
</div>

    <style>
body {
  background: url('https://knowlab.in/wp-content/uploads/2020/10/Tthree-ways-your-company-can-benefit-from-collaborating-with-other-companies.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .3);
border: 2px #83677B;
border-radius: 100px; 
}
</style>