<br>
<br>
<br>
<br>
<div class="container">
<h1 style="color: #2E1114; text-align:center">Company Information</h1> 
<p style="color: #2E1114; text-align:center">
Title: <%= @company.name %>
Category: <%= @company.category %>
Description: <%= @company.description %>
</p>
<div style="color: #501B1D; text-align:center">
 <% if current_user.id == @company.user_id %>
<%= link_to "edit", edit_company_path %> <br>
  <%end%>
<%= link_to "add job for this company", new_company_job_path(@company) %>
</div>
 <div style="color: #501B1D; text-align:center">
    
        <!--<%= link_to "edit", edit_company_path(@company) %>
          <%= link_to "delete", company_path(@company), method: 'DELETE' %>-->
  
        </div>

<h5 style="color: #2E1114; text-align:center">All Jobs within this Company</h5>

<%@company.jobs.each do |job|%>
<h6 style="color: #2E1114; text-align:center"><%= link_to job.name, "/companies/#{@company.id}/jobs/#{job.id}"%></h6>
<%end%>

</div>

<style>
body {
  background: url('https://cdn.corporatefinanceinstitute.com/assets/privately-held-company-1024x683.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .6);
border: 2px #83677B;
border-radius: 100px; 
}
</style>
